extends ../layout/base

block content
    .shopBasket-secondStep
        .wrapper.wrapper_secondStep
            .shopBasket-secondStep__form
                include ../modules/shop-basket-form
                p.shopBasket-secondStep__form-headline Адрес доставки
                .shopBasket-secondStep__form-field
                    input(type="text" required)
                    span Адрес доставки*
                .shopBasket-secondStep__form-field
                    input(type="text" required)
                    span Квартира или офис
                .shopBasket-secondStep__form-field
                    textarea(type="text" required) 
                    span Комментарий к доставке
            include ../modules/your-order