extends ../layout/base

block content
    .shopBasket-secondStep
        .wrapper.wrapper_secondStep
            .shopBasket-secondStep__form 
                include ../modules/shop-basket-form
                .pickup-adress 
                    p.pickup-adress__headline Адреса самовывоза
                    .pickup-adress__adress 
                        p.pickup-adress__object Palazzo Stile & Decoro
                        p.pickup-adress__location г. Челябинск, Palazzo Stile & Decoro, ​Российская 142, м​2 этаж
                    .pickup-adress__adress 
                        p.pickup-adress__object ТЦ Радуга
                        p.pickup-adress__location г. Челябинск, ул. Российская 194, 2 этаж
            include ../modules/your-order